:root {
--bgdark: #191d2a;
--bglight: #1e2232;
--bglighter: #2c334c;

--fgdark: #8888a0;
--fglight: #ccccee;
	
--accent: #ee99ff;
--border: #262c42;
--disabled: #696969;
}

body {
	background-color: var(--bgdark);
	overflow-x: hidden;
}

#page {
	max-width: 700px;
	  	
	margin: 0 auto;
	margin-top: 20px;
}

main {
	max-width: 700px;
	margin-top: auto;
	display: flex;
	overflow-y: auto;
	flex-flow: row wrap;
}

#clock {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

#time, #date {
	color: var(--fglight);
	display: inline-block;
	margin: 0 5px;
	width: 90px;
}

#time {
	text-align: left;
}

#date { 
	text-align: right;
}

.slash {
	color: var(--fgdark)
}

.search-box {
	max-width: 500px;
	margin: 0 auto;
	width: 90%;
}
.search-box input[type="text"] {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid var(--border);   
	color: var(--fgdark);
	transition: all 00ms;
	width: 100%;
	max-width: 500px;
	height: 30px;
	display: block;
	margin: 0 auto;
	text-align: center;
	/*box-shadow: 4px 4px 6px 2px rgba(0,0,0,0.2);*/
}

.search-underline {
	position: relative;
	top: -2px;
	display: block;
	max-width: 0px;
	margin: 0 auto;
	height: 2px;
	background-color: var(--border);
	transition: all 200ms;
	transition-timing-function: ease-out;
}

.search-box:focus-within > .search-underline,
.search-box:hover > .search-underline {
	max-width: 500px;
	background-color: var(--accent);
}

.title {
	display: block;
	width: auto;
	text-align: center;
	transition: all 00ms ease 0s;
	box-shadow: 6px 7px 9px 3px rgba(0,0,0,0.24);
}

.title {
	color: var(--fglight);
	font-size: 18px;
	transition: all 00ms ease 0s;
	display: block;
	text-align: center;
	background-color: var(--bglight);
	padding: 5px;
}

.links {
	font-size: 14px;
	padding: 5px 10px;
	width: auto;
	display: inline-block;
}


hr {
	color: var(--bglighter);
	margin: 2px;
}

a:visited, a {
	color: var(--fgdark);
	text-decoration: none;
	outline: none;
}
a:not(.tablinks):visited, a:not(.tablinks) {  transition: all 00ms ease 0s; }
a:hover {	color: var(--accent);}

#notes:hover:not(:focus) {
	margin-left: -25px;
	border-color: var(--accent);
}

#notes1, #notes2, #notes3 {
	width: 250px;
	background-color: var(--bglight);
	color: var(--fglight);
	margin: 0 auto;
	height: 100%;
	min-height: content;
	border: none;
}

.notearea {
	position: absolute;
	top: 66px; 
	bottom: 20px; 
	width: 100%;
}

.sidebar-top {
	display: block;
}

#sidebar:not(.active) {
	visibility: hidden;
	right: -250px;
}

#sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 280px;
	height: 100%;
	background-color: var(--bglight);
	transition: all 200ms;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.24);
}

.sidebar-toggle {
	position: fixed;
	right: 25px;
	top: 0;
	z-index: 25;
}


.sidebar-toggle span {
	display: block;
	width: 20px;
	height: 3px;
	background: var(--fgdark);
	margin: 5px 0px;
	transition: move 400ms ease 0s;
}

.sidebar-toggle:hover span {
	background: var(--accent);
}


.tabs {
	width: 160px;
	margin: 0 auto;
	margin-top: 30px;
}

.tabs > hr {
	color: var(--accent);
	width: 40px;
	transition: margin-left 200ms;
}

.tablink1.selected ~ hr {	margin-left: 2%;}
.tablink2.selected ~ hr {	margin-left: 35%;}
.tablink3.selected ~ hr {	margin-left: 68%;}

.tablinks {
	background-color: transparent;
	color: var(--fgdark);
	border: none;
	width: 50px;
	margin: 0px;
	border: none;
	text-align: center;
	display: inline-block;
}

.tablinks:hover { color: var(--accent); }

.tablinks.selected { color: var(--accent); }

main section {
	flex: 1 1 25%;
	box-sizing: border-box;
}

.content {
	display: none; 
}

main section {
	margin-top: 20px;
}


.box:hover .content {
	display: block;
}

.content {
	position: absolute;
	background-color: var(--bglight);
	max-width: 680px;
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding: 10px;
}

.box:hover .title {
	background-color: var(--accent);
	color: var(--bgdark);
}

