@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Colours (Hopefully) */
:root {
--bgdark: #191d2a;
--bglight: #1e2232;
--bglighter: #2c334c;
	
--fgdark: #8888a0;
--fglight: #ccccee;
		
--accent: #ee99ff;
--border: #262c42;
--disabled: #696969;
--fgdark: #8888a0;
	}
	
	
:root:-moz-lwtheme-brighttext {                                       /* minor color changes to the default dark theme */
	--color-overflow: #222;                                         /* >> button color */
	--chrome-background-color: var(--bgdark) !important;              /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: var(--bglight) !important;   /* nav bar & active tab */
	--chrome-color: var(--fglight) !important;                        /* url & tab text, close tab & new tab buttons */
	background-color: var(--bgdark) !important;                       /* top border of out of focus window */
	--lwt-text-color: var(--fglight) !important;
}
	
:root {
	--tabs-border: transparent !important;                             /* active tab left & right borders - not working in 58?*/
	--toolbox-border-bottom-color: transparent !important;             /* 1px line under background tabs */
	--chrome-nav-bar-controls-border-color: transparent !important;    /* border around url bar */
	--chrome-color: var(--fglight) !important;                         /* url & tab text, close tab & new tab buttons */
	--chrome-background-color: var(--bgdark) !important;               /* tab strip background & inactive tabs */
	--chrome-secondary-background-color: var(--bglight) !important;    /* nav bar & active tab */
	background-color: var(--bglight) !important;                       /* top border of out of focus window */
	--color-overflow: var(--fglight);                                  /* >> button color */
	--lwt-toolbar-field-color: var(--fglight) !important;
	--lwt-text-color: var(--fglight) !important;

}

/*#identity-popup-clear-sitedata-footer {background-color: #000 !important;}*/

.tabbrowser-tab .tab-close-button {
		-moz-box-ordinal-group: 0 !important;
		margin: 0px 4px 0px -2px !important;
}

.tabbrowser-tab .tab-close-button {
	display: none !important;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-icon-image,
.tabbrowser-tab:not([pinned="true"]):hover .tab-throbber {
	display: none;
}

.tabbrowser-tab:not([pinned="true"]):hover .tab-close-button {
	display: -moz-box !important;
}

/*.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
	display: -moz-box !important;
}*/


/* Stop white flash on opening a new tab */
#browser vbox#appcontent tabbrowser,
#content,
#tabbrowser-tabpanels,
browser[type=content-primary],
browser[type=content] > html {
	background: var(--bgdark)!important
}

#tabbrowser-tabpanels {
  background: var(--bgdark) !important;
}

/* Tabs are de-saturated and transparent when inactive */
.tabbrowser-tab:not([selected=true]):not(:hover) .tab-stack .tab-content .tab-icon-image {
		filter: grayscale(50%) !important;
}

/*
.tabbrowser-tab[selected=true] > .tab-stack > .tab-content > *,
.tabbrowser-tab:hover > .tab-stack > .tab-content > *{
		filter: grayscale(0%) !important;
}*/

.tabbrowser-tab{ 
	opacity: 0.33 !important;
}
.tabbrowser-tab:hover{ 
	opacity: 0.66 !important;
}
.tabbrowser-tab[selected]{ 
	opacity: 1 !important;
}

/* Round URL bar */
#urlbar, .searchbar-textbox{
		border-radius: 0.5em !important;
}


/* Hide bookmarks bar until hover */
/*#PersonalToolbar {
		opacity:0 !important;
		margin-top: -26px !important;
		transition: all 0.2s ease 0s !important;
}

#navigator-toolbox:hover > #PersonalToolbar {
		visibility: visible !important;
		margin-top: 0px !important;
		transition: all 0.2s ease 0s !important;
		opacity: 1 !important;
}*/

/* Change colour of new tab button */
.tabs-newtab-button > #new-tab-button > #alltabs-button {
	color: var(--fglight) !important;
}

.tabs-newtab-button:hover > #new-tab-button > #alltabs-button {
	color: var(--accent) !important;
	background-color: transparent !important;
}

/* Round buttons */
.close-icon {
	border-radius: 0.5em !important;
}

.tabs-newtab-button > #new-tab-button > #alltabs-button {
	border-radius: 0.5em !important;
}

:root{
	--toolbarbutton-border-radius: 0.5em !important;
}

/* Round tabs & change colour*/
.tabbrowser-tab, .tab-content, .tab-background {
		background-color: transparent !important;
}

.tabbrowser-tab[selected=true],
.tabbrowser-tab[selected=true] .tab-stack .tab-content {
	background-color: var(--bglight) !important;
	color: var(--fglight) !important;
}

.tabbrowser-tab:hover,
.tabbrowser-tab:hover .tab-stack .tab-content {
		background-color: var(--bglight) !important;
}

.tabbrowser-tab .tab-text.tab-label {
		color: var(--fglight) !important;          
}

.tabbrowser-tab:hover .tab-text.tab-label {
		color: var(--fglight) !important;          
}

.tabbrowser-tab[selected="true"] .tab-text.tab-label {
		color: var(--fglight) !important;           
}

/* No line at the top of tabs, so that you can round the tabs */
.tab-line {                            
		display: none !important;
}

/* Change the cursor when hovering over a tab */
/*.tabbrowser-tab:hover,
.tabbrowser-tab .tab-text.tab-label:hover {
		cursor: pointer !important; 
}*/

/* Small padding between tabs */
/*.tabbrowser-tab {
	margin-left: 2px !important;
	margin-right: 2px !important;
}*/

/* No border on tabs i guess? frankly idk */
/* [tabsintitlebar]:root:not([extradragspace]) .tabbrowser-tab::after,
.tabbrowser-tab:hover::after,
#tabbrowser-tabs:not([movingtab])>.tabbrowser-tab[beforehovered]::after {
		border: none !important;              
} */

/*#tabbrowser-tabs[movingtab=true] > *, #TabsToolbar > * {
		padding: 0 !important;
		margin: 0 !important;
}*/

/* Hide a few buttons on the navbar */
#pageActionSeparator, #pocket-button {
		display: none !important;
}


/* Center text on the URL bar */
/*#urlbar {
	text-align: center;
} */

/* Clean up (hide) a few items on the search popup */
/*#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .search-one-offs,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-type-icon,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-site-icon,
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-tags:not([empty]),
#PopupAutoCompleteRichResult > richlistbox > richlistitem > .ac-separator:not([type=keyword]),
#PopupAutoCompleteRichResult > richlistbox > richlistitem[selected] > .ac-url[actiontype=remotetab],
#PopupAutoCompleteRichResult > richlistbox > richlistitem:hover > .ac-url[actiontype=remotetab]
{
	display: none !important;
}*/

/* restyle popup items */
/*#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
	-moz-box-orient: vertical !important;
	text-align: center !important;
	padding: 0px 0px !important;
	border-radius: 0.5em !important;
		padding-left: 14px !important;
}*/

.search-panel-one-offs, .search-panel-one-offs > *, .search-one-offs,
.search-panel-searchforwith, .search-panel-current-input, .searchbar-oneoffheader-search {
	background-color: var(--bglight) !important;
}
	
.autocomplete-richlistbox {
	background: var(--bglight) !important;
	color: var(--fglight) !important;
}

.ac-text-overflow-container > .ac-action-text:not([selected]) {
	color: var(--accent) !important;
	display: -moz-box !important;
	visibility: visible !important;
	font-weight: 500 !important;
}

.ac-text-overflow-container > .ac-action-text[selected=true] {
	color: var(--fglight) !important;
	display: -moz-box !important;
	visibility: visible !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-title[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-url[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

.ac-text-overflow-container > .ac-text[selected=true] {
	display: -moz-box !important;
	font-weight: 700 !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"], .ac-url > .ac-text-overflow-container > .ac-url-text[selected=true]{
	color: var(--fglight) !important;
	font-weight: 700 !important;
}  



/* Add a border and rounding to the urlbar/search popup */
.search-panel-one-offs-header, .search-panel-header, .search-panel-current-input, #PopupAutoCompleteRichResult, .autocomplete-richlistitem, .box-inherit, .scrollbox-innerbox, .autocomplete-richlistbox {
	border: none !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem {
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	
}

/*#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem .ac-action[actiontype=searchengine]:not([selected]) {
	display: block !important;
}

#PopupAutoCompleteRichResult[autocompleteinput="urlbar"] .autocomplete-richlistitem {
	border-inline-end: 0px solid transparent !important;
}

#PopupAutoCompleteRichResult {
	margin-left: 10% !important;
	margin-right: 10% !important;
	border-radius: 0 0 0.6em 0.6em !important;
	border-left: 2px var(--border) solid !important;
	border-right: 2px var(--border) solid !important;
	border-bottom: 2px var(--border) solid !important;
}
*/

/* Padding around the sides of the urlbar/search popup */
.autocomplete-richlistitem {
	max-width: 90% !important;
}

/*Prevents White pre-load flash*/ 
.tabbrowser-tabbox {
	background-color:  var(--bgdark) !important;
}

@-moz-document url(about:blank) {
	* { background: var(--bgdark) !important; }
}

@-moz-document url(chrome://browser/content/browser.xul){
	browser, browser.display.background_color, tabbrowser tabpanels { background: var(--bgdark) !important} 
}

@-moz-document url(chrome://browser/content/browser.xul)
{
	 #main-window,
	 browser[type="content-primary"],
	 browser[type="content"],
	 tabbrowser#content,
	 #content,
	 browser[type="content"] > html
	 {
			background: var(--bgdark) !important;
	 }
}


/* Makes popups, menus and context menus dark */
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu{
	border: none !important;
	background: var(--bgdark) !important;
	color: var(--fglight) !important;
}

/* Dark navbar */
#navigator-toolbox,
#TabsToolbar {
	background: var(--bgdark) !important;
}

menuitem[disabled="true"],
menu[disabled="true"]{
	color: var(--disabled) !important;
}

menuitem:hover,
menu:hover{
	background-color:#2e323f !important;
}

#nav-bar {
	background-color: var(--bglight) !important;
}

#tabbrowser-tabs {
	background-color: var(--bgdark) !important;
}

#urlbar, .searchbar-textbox{
		background-color: var(--bgdark) !important;
}

#PersonalToolbar {
	background-color: var(--bgdark) !important;
}

.box-inherit-scrollbox-innerbox {
	background-color: var(--fglight) !important;
}

#navigator-toolbox, #navigator-toolbox > #PersonalToolbar {
	background-color: var(--bglight) !important;
}

#navigator-toolbox, #TabsToolbar, #nav-bar, #PersonalToolbar, 
.browser-toolbar, #personal-bookmarks, 
#toolbar-menubar.browser-toolbar.chromeclass-menubar {
	background-color: var(--bglight) !important;
}

#navigator-toolbox,
#TabsToolbar {
	background: var(--bglight) !important;
}

#navigator-toolbox #nav-bar {      
	background: var(--bglight) !important;
}   

/* Disable small ugly grey border on the bookmarks bar because "my" gtk theme sucks */
#PersonalToolbar {
	padding: 0px !important;
}

/* Hide tab border */
:root {
	--tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
	 border-left: none !important;
}

#urlbar, .searchbar-textbox {
	border: none !important;
	box-shadow: none !important;
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
}

#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {
	box-shadow: none !important;
	border: 0px !important;
}


/* Make the forward / back button a darker colour when disabled */
#forward-button[disabled] {
	color: var(--disabled) !important;
	background-image: none !important;
}

#back-button[disabled] {
	color: var(--disabled) !important;
	background-image: none !important;
}

/* bookmarks toolbar edge style */

toolbarbutton.bookmark-item {
	border: 1px rgba(0, 0, 0, 0) solid !important;
}

toolbarbutton.bookmark-item:hover {
	background-color: var(--disabled);
	border: 1px var(--disabled) solid !important;
}

.titlebar-placeholder[type="post-tabs"] {
	width: 50px !important;
}

#TabsToolbar {
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}

#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}
.scrollbutton-up, .scrollbutton-down {
	margin-bottom: 0px !important;
}
.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: var(--accent) ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: var(--accent);
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
#new-tab-button > .toolbarbutton-icon, #alltabs-button > .toolbarbutton-icon {
	background-color: transparent;
}

#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}

#tabbrowser-tabs {
	--tab-loading-fill: #1d8a99 !important; /* Colour of fill animation when tab has finished loading */
	box-shadow: none !important;
}

.webextension-browser-action {
	filter: saturate(0%);
}


:root[lwtheme-image]:-moz-lwtheme-brighttext {
		text-shadow: none !important;
}

.tabbrowser-tab[pending] {
	font-style: italic;
	filter: grayscale(100%) !important;
}

toolbarspring {
		min-width: 8px;
		max-width: 8px;
}

/* Change tab max width */
.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 200px !important;
}

/*.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100px !important;
} */


/*
.tab-line {
	background-color: var(--accent) !important;
	height: 2px !important;
}  

#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: var(--bglight) !important;
}
*/



.findbar-closebutton {
	background-color: var(--bgdark) !important;
	border-radius: 0 !important;
}

.findbar-highlight {
	background-color: var(--button) !important;
}

.downloadMainArea, .download-state, .downloadContainer,
.identity-popup-security-content, .findbar-container,
#downloadsListBox, #mainPopupSet, #identity-popup {
	background-color: var(--bglight) !important;
}

.downloadsFooterButtons, .downloadsPanelFooterButton,
.findbar-textbox, #identity-popup-clear-sitedata-footer {	
	background-color: var(--bgdark) !important; 
}

/* Hide the fullscreen warning popup */
@-moz-document url(chrome://browser/content/browser.xul) {
	#fullscreen-warning {
		display: none !important;
	}
}

/* One Liner */
@media only screen and (min-width: 700px) {

	.tabbrowser-tab[fadein]:not([pinned]) {
		max-width: 140px !important;
	}

	#tabbrowser-tabs {
		margin-top: 0 !important;
		margin-bottom: 0px !important;

	}


	#navigator-toolbox[movingtab] #tabbrowser-tabs {
		margin-bottom: -1px !important;
		margin-left: 1px !important;
	}
	
	#TabsToolbar, #nav-bar, #titlebar, #tabbrowser-tabs, .tabbrowser-tab { 
		height: 32px !important;
	}
	
	#TabsToolbar {
		margin-left: 42vw !important;
	}
	
	#nav-bar {
		margin-top: -32px !important;
		margin-right: 58vw !important;
		z-index: 69;
		transition: all 200ms ease 0.1s;
	}

	#nav-bar:focus-within {
		margin-right: 20vw !important;
	}

	#PanelUI-button,
	#customization-panel-container,
	#customization-panelWrapper .panel-arrow { /* Move hamburger menu to the left */
		-moz-box-ordinal-group: 0 !important;
		margin-right: -6px !important;
		margin-top: 1px !important;
	}
	
	#PlacesToolbar {
		margin-top: 2px;
		margin-bottom: -2px;
	}
	
	#urlbar,
		.searchbar-textbox {
		box-shadow: none !important;
	}
	
	#urlbar:hover,
		.searchbar-textbox:hover {
		box-shadow: none !important;
	}         
	 
	#urlbar {
		background-color: transparent !important;
	}

	@media only screen and (min-width: 1000px) { 
		.tabbrowser-tab[fadein]:not([pinned]) {
			max-width: 200px !important;
		}

		#TabsToolbar {
			margin-left: 30vw !important;
		}
	
		#nav-bar {
			margin-right: 70vw !important;
		}
	}

}

/* Hide user icon on navbar in developer edition */
#fxa-toolbar-menu-button { display: none !important; }

/* Needed for having the link hover thing at the cursor */
/*
 * Original binding was on the List All Tabs button. This broke it from
 * Firefox 61 onward. No issues with the Forward button that I can see.
 */
/*toolbarbutton#forward-button {
	-moz-binding: url("userChrome.xml#js");
} */
